/* scsscon */
[class^="icon-"] {
  display: inline-block;
  vertical-align: sub;
  overflow: hidden;
  *display: inline;
  *zoom: 1;
}

.icon-photobg {
  background-image: url("../images/icons/pic_bg.png");
  width: 70px;
  height: 70px;
}

.icon-status-done {
  background-image: url("../images/icons/status_done.png");
  width: 40px;
  height: 40px;
}

.icon-step-1 {
  background-image: url("../images/icons/item-step-1.png");
  width: 273px;
  height: 47px;
}

.icon-step-2 {
  background-image: url("../images/icons/item-step-2.png");
  width: 273px;
  height: 47px;
}

.icon-step-3 {
  background-image: url("../images/icons/item-step-3.png");
  width: 273px;
  height: 47px;
}
