form 
	padding 45px
	margin auto

label 
	text-align right

.group-con 
	margin 15px 0

.group-btn
	margin 0

.btn
	padding 8px 20px
	margin 0 15px
	border 1px solid rgba(51, 51, 51, .5)
	outline none
	border-radius(8px)
	color #fff
	font-size 16px
	cursor pointer

.btn-l
	padding 8px 50px
	font-size 1.3em

.btn-certain
	background #ed5e0f

.btn-cancle
	background #4e4e4e

.btn-edit
	background #2d0a08

.must
	margin-right .5em
	color red
