@import 'variable'
@import 'funs'

body,
ul,
li,
p,
h1,
h2,
h3,
hr { 
	padding: 0;
	margin: 0;
}
body 
	height 100vh
	box-sizing border-box

ul li 
	display inline-block
	list-style none

a 
	text-decoration none
	color #000

.color-r
	color red
.color-b
	color #40bfce
.color-g
	color #bbb6b6
.padding-top
	padding-top nav-height
.text-ellipsis
	text-overflow ellipsis
	white-space nowrap
	overflow hidden

#app
	relative()
	overflow hidden
.wrapper
	relative()
	min-height 100vh
	padding-bottom 48px
.time
	margin-bottom 10px
	font-size 14px